{# filepath: templates/dashboard/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<h1>Dashboard</h1>

	<div>
		{% if not hasMaxHeroes %}
			<a href="{{ path('hero_create') }}" class="btn btn-primary">Créer un Héros</a>
		{% endif %}
		{% if hasHeroes %}
			<a href="{{ path('hero_select') }}" class="btn btn-secondary">Sélectionner un Héros</a>
		{% endif %}
	</div>

{% endblock %}
