{# filepath: templates/hero/select.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Select a Hero
{% endblock %}

{% block body %}
	<h1>Select a Hero</h1>

	<div>
		<ul>
			{% for hero in heroes %}
				<li>
					{{ hero.name }}
					({{ hero.class }}) - Level
					{{ hero.level }}
					<a href="{{ path('set_active_hero', {id: hero.id}) }}" class="btn btn-primary">Select</a>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
